/* Reset simples */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #004d40;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 2rem;
  text-align: center;
}

.botao {
  display: inline-block;
  background-color: #009688;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
}

.botao:hover {
  background-color: #794900;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #eee;
  margin-top: 2rem;
}
